@import "./reset.css";

a{
    text-decoration: none;
    color: white;
    font-size: 140%;
    font-weight: bold;
}

.intro_box{
    width: 370px;
    height: 70px;
    background: rgb(236, 20, 20);
    line-height: 70px;
    display: flexbox;
    position: absolute;
    top: 400px;
    left: 50px;
    padding-left: 20px;
}

.intro_bg{
    background: url(../img/BG.png);
    background-size: cover;
    height: 100vh;
}

.intro_bg::before{
    content: '';
    background: linear-gradient(to right,black,transparent);
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

h1{
    font-size: 4em;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    top: 310px;
    left: 50px;
}