@import "./reset.css";

body{
    background: #0a0b07;
    color: whitesmoke;
    text-align: center;
}

.movies{
    width: 40%;
    height: 100%;
    float: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.movie_box{
    margin-bottom: 30px;
}

.movie_poster{
    filter: drop-shadow(2px 2px 2px #000);
}

.movie_title{
    padding-bottom: 5px;
}

.movie_rating{
    font-size: 85%;
    font-weight: bold;
    color: rgb(240, 167, 9);
}