@import "./reset.css";

body{
    background: #0a0b07;
    color: whitesmoke;
}

.movies{
    position: absolute;
    left: 50%;
    transform: translate(-50%);  
    padding-top: 50px;
    width: 50%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.movie_box{
    margin-bottom: 30px;
}

.movie_poster{
    filter: drop-shadow(4px 4px 4px #000);
}

.movie_info{
    margin-top: 10px;
}
.movie_title{
    padding-bottom: 5px;
    font-weight: bold;
}

.movie_rating{
    font-size: 85%;
    font-weight: bold;
    color: rgb(240, 167, 9);
}